@model Model.Models.Students

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<style>
    table, th, tr td {
     border:1px solid #000 ;

     padding : 15px;

    }





</style>
<table>
    <th>Id </th>
    <th>Name </th>
    <th>Cnic</th>

     <tr>
         <td>@Model.Id</td>
         <td>@Model.Name</td>
         <td>@Model.Cnic</td>
     </tr>

</table>